<h1>Hello {{name}}</h1>

    


    
    <button (click)="toggleToDisplayTeachers()">Click to toggle isToDisplayTeachers</button>
    <div *ngIf=isToDisplayTeachers>
        <h3>Teachers</h3>
        <div *ngFor="let teacherlist of teacherlists">
            <ul>
                <li>TeacherId: {{teacherlist.TeacherId}}</li>
                <li>Name: {{teacherlist.name}}</li>
                <li>Lastname: {{teacherlist.lastname}}</li>
                <li>Title: {{teacherlist.title}}</li>
                <li>Age: {{teacherlist.age}}</li>
                <li>IsFullTime: {{teacherlist.isFullTime}}</li>
            </ul>
        </div>
    </div>
    
